<div th:replace="~{admin/_noneStickyHeader.html}"></div>

    <main style="border-top:1px solid #e2e2e2; display: flex; justify-content: center; ">
        <div>
        <aside class="euro-nav" aria-label="관리자 사이드 메뉴" style="">
            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">환경설정</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">기본설정</a></li>
                <li class="euro-nav__item"><a href="#">배너관리</a></li>
                <li class="euro-nav__item"><a href="#">약관관리</a></li>
                <li class="euro-nav__item"><a href="#">카테고리</a></li>
                <li class="euro-nav__item"><a href="#">버전관리</a></li>
            </ul>
            </section>

            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">상점관리</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">상점목록</a></li>
                <li class="euro-nav__item"><a href="#">매출현황</a></li>
            </ul>
            </section>

            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">회원관리</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">회원목록</a></li>
                <li class="euro-nav__item"><a href="#">포인트관리</a></li>
            </ul>
            </section>

            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">상품관리</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">상품목록</a></li>
                <li class="euro-nav__item"><a href="#">상품등록</a></li>
            </ul>
            </section>

            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">주문관리</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">주문현황</a></li>
                <li class="euro-nav__item is-active"><a href="#">배송현황</a></li>
            </ul>
            </section>

            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">쿠폰관리</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">쿠폰목록</a></li>
                <li class="euro-nav__item"><a href="#">쿠폰발급현황</a></li>
            </ul>
            </section>

            <section class="euro-nav__group">
            <h4 class="euro-nav__title" style="">고객센터</h4>
            <ul class="euro-nav__list">
                <li class="euro-nav__item"><a href="#">공지사항</a></li>
                <li class="euro-nav__item"><a href="#">자주묻는질문</a></li>
                <li class="euro-nav__item"><a href="#">문의하기</a></li>
                <li class="euro-nav__item"><a href="#">채용하기</a></li>
            </ul>
            </section>
        </aside>
        </div>
        <div style="width:940px; border-left:1px solid #e2e2e2;">
            <div style="margin-left:60px;">
                <div style="display: flex;">
                    <div style="font-size: 20px; font-weight: 800; margin-top:16px; margin-bottom:5px;">배송현황</div>
                    <div style="margin-left: auto; margin-top:auto; margin-bottom:4px;font-size: 12px;">HOME > 주문관리 > <span style="font-weight: 800;">배송현황</span></div>
                </div>
                <hr style="border:none; border-top:1px solid gray; margin-top:0px;">
                <div style="padding-left:10px;">
                <div style="display: flex; align-items: center; margin-top: 25px; margin-bottom:20px;">
                    <form th:action="@{/admin/deliver/search}" method="get" style="display: flex; ">
                        <select name="searchType" id="" style="width:82px; height:28px; padding-left:5px; margin-right:3px; border:1px solid #bfbfbf; font-size: 10px !important;">
                            <option value="invoice">송장번호</option>
                            <option value="order_code">주문번호</option>
                            <option value="recipient">수령인</option>
                        </select>
                        <input type="text" name="keyword" placeholder="검색어입력" style="width:140px; height:28px; padding-left:10px; margin-right:3px; border:1px solid #bfbfbf; font-size: 10px !important;">
                        <input type="submit" value="검색" style="width:50px; height:28px; color:white; background-color: black; border:none; font-size: 12px !important;">
                    </form>
                </div>
                <table style="border-collapse: collapse; width:100%; font-size:12px; text-align: center; ">
                    <tr style="border-top:1px solid gray; height:50px; border-bottom:1px solid #e2e2e2;">
                        <th style="">송장번호</th>
                        <th style="">택배사</th>
                        <th style="">주문번호</th>
                        <th style="">수령인</th>
                        <th style="">상품명</th>
                        <th style="">건수</th>
                        <th style="">물품합계</th>
                        <th style="">배송비</th>
                        <th style="">배송상태</th>
                        <th style="">접수일</th>
                    </tr>
                    <tr th:each="admin, stat:${pageResponseDTO.dtoList}"
                            style="border-bottom:1px solid #e2e2e2; height:70px;vertical-align: middle;">
                        <td><a href="#" style="font-weight: 800;"
                        th:text="${admin.invoice}">10122102315</a></td>
                        <td th:text="${admin.delicom}">로젠택배</td>
                        <td th:text="${admin.order_code}">10121211341</td>
                        <td th:text="${admin.recipient}">김유신</td>
                        <td th:text="${admin.product_name}">OOO</td>
                        <td th:text="${admin.item_count}">3</td>
                        <td th:text="${admin.total_amount}">68,400</td>
                        <td th:text="${admin.delichar}">무료</td>
                        <td
                                style="color:#4f95d1;">
                            배송준비
                        </td>
                        <td th:text="${admin.receipt}">0000-00-00 00:00:00</td>
                    </tr>

                </table>
                    <div style=" height: 100px; margin-top:40px; display: flex; justify-content: center;">
                        <input th:if="${pageResponseDTO.prev}"
                               th:onclick="|location.href='@{/admin/delivery/list(pg=${pageResponseDTO.start - 1})}'|"
                               type="button" class="prev-page" value="< 이전">

                        <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                            <input th:onclick="|location.href='@{/admin/delivery/list(pg=${num})}'|"
                                   th:class="${num == pageResponseDTO.pg ? 'current' : 'num'}"
                                   type="button"
                                   th:value="${num}" />
                        </th:block>

                        <input th:if="${pageResponseDTO.next}"
                               th:onclick="|location.href='@{/admin/delivery/list(pg=${pageResponseDTO.end + 1})}'|"
                               type="button" class="next-page" value="다음 >" style="">
                    </div>
                    <style>
                        .current{
                            border:1px solid #333;
                            background-color: #333;
                            color: white;
                            height: 30px;
                            width: 30px;
                            margin-right:7px;
                            line-height:1;
                        }
                        .num {
                            cursor: pointer;
                            border:1px solid #ddd;
                            color: #555;
                            height: 30px;
                            width: 30px;
                            margin-right:7px;
                            line-height:1;
                        }
                    </style>
                <!-- 주문상세 콘텐츠 템플릿: '첫번째 사진' 영역 그대로 -->
<template id="orderDetailTemplate">
  <!-- ↓↓↓ 여기부터 기존 “첫번째 사진” 영역 전체를 그대로 붙여넣기 ↓↓↓ -->
  <div style="font-size:18px; margin-bottom:10px; font-weight: 800;">상품정보</div>
  <table style="border-collapse: collapse; border:none; width:1270px; text-align: center; ">
    <form action="" method="">
      <tr style="height:50px;border-top: 4px solid black; border-bottom: 1px solid #dddddd;">
        <td style="width:60px;"></td>
        <td style="">상품번호</td>
        <td style="">상품명</td>
        <td style="">판매자</td>
        <td style="">가격</td>
        <td style="">수량</td>
        <td style="">배송비</td>
        <td style="">결제금액</td>
      </tr>
      <tr style=" border-bottom: 1px solid #dddddd;">
        <td style="display: flex;">
          <div style="margin:10px;width:80px; height:75px; background-color: #dddddd;">
            <img src="#" alt="이미지">
          </div>
        </td>
        <td style="">120120021</td>
        <td>OOO</td>
        <td>(주)상호명</td>
        <td style="">24,000</td>
        <td style="">3</td>
        <td style="">0</td>
        <td style="">68,400</td>
      </tr>
    </form>
  </table>
  <div style="display: flex; margin-top:14px; margin-bottom:10px;">
    <div style="font-size:18px; "><b>배송정보</b></div>
  </div>
  <div style="border-top:4px solid; width:1270px;  display: flex; border-bottom: 1px solid #dddddd;">
    <div style=" width:150px; padding:17px; background-color: #f2f2f2;">
      <div style="margin-bottom:6px;">주문번호</div>
      <div style="margin-bottom:6px;">수령인</div>
      <div style="margin-bottom:6px;">연락처</div>
      <div style="margin-bottom: 36px;">배송지 주소</div>
      <div style="margin-bottom: 6px;">택배사</div>
      <div style="margin-bottom:6px;">송장번호</div>
      <div style="">기타</div>
    </div>
    <div style="padding-left:19px;  display: flex; justify-content: center; flex-direction:column;">
      <div style="margin-bottom:7px;">10121211341</div>
      <div style="margin-bottom:7px;">김유신</div>
      <div style="margin-bottom:7px;">010-1234-1234</div>
      <div style="margin-bottom:37px;">부산 부산진구 123-11 10층</div>
      <div style="margin-bottom:7px;">로젠택배</div>
      <div style="margin-bottom:7px;">10122102315</div>
      <div style="">감사합니다. 수고하세요.</div>
    </div>
  </div>


  <!-- ↑↑↑ 여기까지 기존 영역 그대로 ↑↑↑ -->
</template>

            </div>
        </div>
        </div>
        <div id="orderDetailModal" class="order-modal__overlay" aria-hidden="true">
  <div class="order-modal" role="dialog" aria-modal="true" aria-labelledby="orderModalTitle">
    <div class="order-modal__head">
  <span id="orderModalTitle" style="font-size: 20px;">배송상세</span>
  <span id="orderModalNo" class="order-id"></span>
  <button type="button" class="order-modal__close" id="orderModalClose" aria-label="닫기"></button>
</div>
    <div class="order-modal__body" id="orderModalBody">
    </div>
  </div>
</div>
<!-- ▼ 배송입력 모달 콘텐츠 템플릿 -->
<template id="shipFormTemplate">
  <div class="ship-form__wrap">
    <!-- 제목 라인은 모달 헤더에서 렌더링하므로 여기엔 폼만 -->
    <form>
      <table class="ship-form__table">
        <colgroup>
          <col style="width:140px">
          <col style="width:9">
        </colgroup>
        <tbody>
          <tr>
            <th style="font-size: 14px;">주문번호</th>
            <td><input type="text" class="ipt" id="sf-orderNo" readonly style=""></td>
          </tr>
          <tr>
            <th style="font-size: 14px;">수령인</th>
            <td><input type="text" class="ipt" id="sf-recipient" placeholder="홍길동" style="outline: none;"></td>
          </tr>
          <tr>
            <th style="font-size: 14px;">우편번호</th>
            <td><input type="text" class="ipt" id="sf-zip" placeholder="12345" style="outline: none;"></td>
          </tr>
          <tr>
            <th style="font-size: 14px;">기본주소</th>
            <td><input type="text" class="ipt" id="sf-addr1" placeholder="부산광역시 부산진구 부전동 123" style="outline: none;"></td>
          </tr>
          <tr>
            <th style="font-size: 14px;">상세주소</th>
            <td><input type="text" class="ipt"id="sf-addr2" placeholder="OO 빌딩 3층 301호" style="outline: none;"></td>
          </tr>
          <tr>
            <th style="font-size: 14px;">택배사</th>
            <td>
              <select class="sel" style="padding-left:6px; outline: none;">
                <option>택배사선택</option>
                <option>대한통운</option>
                <option>한진택배</option>
                <option>롯데택배</option>
              </select>
            </td>
          </tr>
          <tr>
            <th style="font-size: 14px;">운송장번호</th>
            <td><input type="text" class="ipt" placeholder="발급받은 택배 송장번호 입력" style="outline: none;"></td>
          </tr>
          <tr>
            <th style="font-size: 14px;">기타</th>
            <td><textarea class="txt" id="sf-etc" placeholder="기타정보입력" style="resize:none; outline: none;" ></textarea></td>
          </tr>
        </tbody>
      </table>
      <div class="ship-form__actions" style="display: flex; justify-content: center;">
        <button type="button" class="btn-primary" id="shipSubmitBtn" style="background-color: black !important; font-weight:300;">등록하기</button>
      </div>
    </form>
  </div>
</template>
<!-- ▼ 배송입력 모달 -->
<div id="shipModal" class="order-modal__overlay ship-modal" aria-hidden="true">
  <div class="order-modal" role="dialog" aria-modal="true" aria-labelledby="shipModalTitle">
    <!-- 세번째 이미지 스타일의 머리 -->
    <div class="ship-modal__head">
      <div class="ship-head__title">
        <span id="shipModalTitle" style="font-size: 20px">배송입력</span>
        <span id="shipModalOrderNo" class="ship-head__order"></span>
      </div>
      <button type="button" class="order-modal__close" id="shipModalClose" aria-label="닫기"></button>
    </div>
    <div class="order-modal__body" id="shipModalBody"></div>
  </div>
</div>


    </main>

    <style>
        .euro-nav__list {
            max-height: 0;                /* 기본은 접힘 */
            overflow: hidden;             /* 안 보이게 */
            transition: max-height 0.15s ease;
        }

            .euro-nav__group.open .euro-nav__list {
            max-height: 500px;            /* 펼쳐졌을 때 (충분히 크게 설정) */
        }
        /* 주문상세 모달 */
        /* 중앙 정렬 */
        .order-modal__overlay{
            position:fixed; inset:0;
            background:rgba(0,0,0,.35);
            display:none;
            align-items:center;          /* flex-start → center */
            justify-content:center;      /* 이미 center였지만 명시 */
            z-index:1200;
            padding:24px;                /* 화면 가장자리와 여백 */
        }
        .order-modal__overlay.show{ display:flex; }

        .order-modal{
            width:min(1200px, 80vw);
            background:#fff; border:1px solid #ddd;
            box-shadow:0 20px 50px rgba(0,0,0,.2);
            margin:0;                    /* 24px auto → 0 (중앙정렬을 위해) */
            display:flex; flex-direction:column;
            /* (선택) 화면보다 커질 때 대비
            max-height: calc(100vh - 48px);
            */
        }
        /* ===== 배송입력(#shipModal) 전용 사이즈/레이아웃 ===== */
        #shipModal .order-modal{
          width: min(520px, 70vw);   /* 주문상세(700px)보다 작게 */
        }

        .order-modal__head{
            display:flex; align-items:center; gap:8px;
            padding:14px 18px; border-bottom:1px solid #eee; font-weight:700;
        }
        .order-id { margin-left:20px; font-weight:600; } 
        /* 내부 스크롤 제거 */
        .order-modal__body{
            padding:18px;
            overflow:visible;           /* auto → visible */
        }
        .order-modal__close{
            margin-left:auto; background:none; border:0; cursor:pointer;
            width:36px; height:36px; position:relative;
        }
        .order-modal__close:before,
        .order-modal__close:after{
            content:""; position:absolute; left:8px; right:8px; top:17px; height:2px; background:#000;
        }
        .order-modal__close:before{ transform:rotate(45deg); }
        .order-modal__close:after{ transform:rotate(-45deg); }
        /* 모달 본문 안에서는 고정폭 없애고 100%로 */
        .order-modal__body table{ width:100% !important; }

        /* 템플릿에 있던 width:1270px 같은 고정폭 무시 */
        .order-modal__body [style*="width:1270px"]{ width:100% !important; }

        /* 우측 합계 박스: margin-left 고정 → 자동 오른쪽 정렬 */
        .order-modal__body [style*="margin-left:970px"]{
        margin-left:auto !important; 
        }

        /* 이미지/박스가 넘치지 않도록 */
        .order-modal__body img{ max-width:100%; height:auto; display:block; }
        .order-modal__body > *{ max-width:100%; box-sizing:border-box; }

        /* 테이블은 화면 좁을 때 줄바꿈에 대비 */
        .order-modal__body table{ table-layout:auto; }
        /* ▼ 배송입력 폼 스타일 */
.ship-form__table{
  width:100%;
  border-top:1px solid #e5e5e5;
  border-bottom:1px solid #e5e5e5;
  border-collapse:collapse;
  margin-top:12px;
  background:#fff;
}
.ship-form__table th{
  background:#f4f4f4;
  text-align:left;
  padding:12px 14px;
  border-bottom:1px solid #e9e9e9;
  font-weight:600;
  color:#333;
  vertical-align:middle;
}
.ship-form__table td{
  padding:10px 12px;
  border-bottom:1px solid #e9e9e9;
}
.ipt,.sel,.txt{
  width:100%;
  height:32px;
  border:1px solid #d0d0d0;
  padding:0 10px;
  box-sizing:border-box;
  font-size:14px;
}
.txt{ height:100px; padding:10px; resize:vertical; }
.ship-form__actions{
  display:flex; justify-content:flex-start;
  padding-top:16px;
}
.btn-primary{
  min-width:120px; height:36px; border:none; cursor:pointer;
  background:#2ba44e; color:#fff; font-weight:600;
}

/* ▼ 배송입력 모달 헤더(세번째 이미지 느낌) */
.ship-modal__head{
  display:flex; align-items:center; gap:8px;
  padding:14px 18px; border-bottom:1px solid #e5e5e5; font-weight:700;
}
.ship-head__title{ display:flex; align-items:center; gap:16px; }
.ship-head__order{ margin-left:10px; font-weight:600; color:#111; letter-spacing:0.02em; }

/* 주문상세에서 썼던 공통 헤더와 충돌 없도록 유지 */

    </style>
    <script>
        // 아코디언: 클릭 시 높이를 실제 내용 높이로 애니메이션
  document.querySelectorAll('.euro-nav__title').forEach(title => {
    title.style.cursor = 'pointer'; // 클릭 가능 시각화(선택)
    title.addEventListener('click', () => {
      const group = title.parentElement;
      const list  = group.querySelector('.euro-nav__list');

      const isOpen = group.classList.contains('open');

      if (isOpen) {
        // 닫기: 현재 높이를 고정 -> 0으로
        list.style.maxHeight = list.scrollHeight + 'px';
        // 강제 리플로우로 트랜지션 시작점 확정
        list.offsetHeight; 
        list.style.maxHeight = '0px';
        group.classList.remove('open');
      } else {
        // 열기: 0 -> 내용 높이
        group.classList.add('open');
        list.style.maxHeight = list.scrollHeight + 'px';

        // 애니메이션 끝나면 inline max-height 제거(자연스런 레이아웃)
        const onEnd = (e) => {
          if (e.propertyName === 'max-height') {
            list.style.maxHeight = 'none';
            list.removeEventListener('transitionend', onEnd);
          }
        };
        list.addEventListener('transitionend', onEnd);
      }
    });
  });

  const groups = document.querySelectorAll('.euro-nav__group');
  document.querySelectorAll('.euro-nav__title').forEach(title => {
    title.addEventListener('click', () => {
      groups.forEach(g => {
        if (g !== title.parentElement && g.classList.contains('open')) {
          const l = g.querySelector('.euro-nav__list');
          l.style.maxHeight = l.scrollHeight + 'px';
          l.offsetHeight;
          l.style.maxHeight = '0px';
          g.classList.remove('open');
        }
      });
    }, {capture:true});
  });

  // 주문상세 모달 열기/닫기
  const orderModalOverlay = document.getElementById('orderDetailModal');
  const orderModalClose   = document.getElementById('orderModalClose');
  const orderModalBody    = document.getElementById('orderModalBody');
  const orderTpl          = document.getElementById('orderDetailTemplate');

  function openOrderModal(orderNoText){
  document.getElementById('orderModalTitle').textContent = '배송상세';
  document.getElementById('orderModalNo').textContent = orderNoText || '';

  orderModalBody.innerHTML = '';
  if (orderTpl){
    const node = orderTpl.content.cloneNode(true);
    orderModalBody.appendChild(node);
  }
  orderModalOverlay.classList.add('show');
  orderModalOverlay.setAttribute('aria-hidden', 'false');
  document.body.style.overflow='hidden';
  }
  function closeOrderModal(){
    orderModalOverlay.classList.remove('show');
    orderModalOverlay.setAttribute('aria-hidden', 'true');
    document.body.style.overflow='';
  }
  orderModalClose.addEventListener('click', closeOrderModal);
  orderModalOverlay.addEventListener('click', (e)=>{
    if(e.target === orderModalOverlay) closeOrderModal();
  });
  window.addEventListener('keydown', (e)=>{
    if(e.key === 'Escape' && orderModalOverlay.classList.contains('show')) closeOrderModal();
  });

  // 목록의 주문번호를 클릭하면 모달 열기
  document.querySelectorAll('table a[href="#"]').forEach(a=>{
    a.addEventListener('click', (e)=>{
      // 주문번호 링크만 대상으로 제한
      const isOrderNo = /^\d{8,}$/.test(a.textContent.trim());
      if(!isOrderNo) return;
      e.preventDefault();
      openOrderModal(a.textContent.trim());
    });
  });
// ▼ 배송입력 모달 핸들러
const shipModalOverlay = document.getElementById('shipModal');
const shipModalBody    = document.getElementById('shipModalBody');
const shipModalClose   = document.getElementById('shipModalClose');
const shipTpl          = document.getElementById('shipFormTemplate');

function openShipModal(orderNo, prefill){
  document.getElementById('shipModalTitle').textContent = '배송입력';
  document.getElementById('shipModalOrderNo').textContent = orderNo ? orderNo : '';

  // 폼 붙이기
  shipModalBody.innerHTML = '';
  if (shipTpl){
    const node = shipTpl.content.cloneNode(true);
    shipModalBody.appendChild(node);

    // 폼 채우기
    const $ = sel => shipModalBody.querySelector(sel);
    $('#sf-orderNo').value   = orderNo || '';
    $('#sf-recipient').value = prefill?.recipient || '';
    $('#sf-zip').value       = prefill?.zip || '';
    $('#sf-addr1').value     = prefill?.addr1 || '';
    $('#sf-addr2').value     = prefill?.addr2 || '';
    $('#sf-etc').value       = prefill?.etc || '';
  }

  shipModalOverlay.classList.add('show');
  shipModalOverlay.setAttribute('aria-hidden','false');
  document.body.style.overflow='hidden';
}

function closeShipModal(){
  shipModalOverlay.classList.remove('show');
  shipModalOverlay.setAttribute('aria-hidden','true');
  document.body.style.overflow='';
}
shipModalClose.addEventListener('click', closeShipModal);
shipModalOverlay.addEventListener('click', (e)=>{ if(e.target === shipModalOverlay) closeShipModal(); });
window.addEventListener('keydown', (e)=>{ if(e.key === 'Escape' && shipModalOverlay.classList.contains('show')) closeShipModal(); });

// ▼ “결제완료” 행에서만 ‘배송하기’ 클릭 시 배송입력 모달 열기
document.querySelectorAll('table tr').forEach(tr=>{
  const btn = tr.querySelector('button.ship-btn'); // class 선택자 사용 권장
  if(!btn) return;

  btn.addEventListener('click', (e)=>{
    e.preventDefault();

    const tds = tr.querySelectorAll('td');
    if (tds.length < 7) return;

    const orderNo = btn.dataset.orderNo || (tds[0].textContent || '').trim();
    const status  = (tds[6].textContent || '').trim();

    if(status === '결제완료'){
      const prefill = {
        recipient: btn.dataset.recipient || '',
        zip:       btn.dataset.zip || '',
        addr1:     btn.dataset.addr1 || '',
        addr2:     btn.dataset.addr2 || '',
        etc:       btn.dataset.etc || ''
      };
      openShipModal(orderNo, prefill);
    }
  });
});
  
    </script>
<div th:replace="~{admin/_footer.html}"></div>